<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>InstaBot</title>
  </head>
  <body>

    <div id="login-container">

      <h4>Login form</h4>

      <form v-on:submit.prevent>
        <input v-model="privateState.username" type="text" name="username" id="username" value=""> 
        <input v-model="privateState.password" type="password" name="password" id="password" value="">
        <button v-on:click="authenticate">Sign In</button>
      </form>

      <div v-if="privateState.error !== null">
        Invalid credentials
      </div>

    </div>

    <div v-if="sharedState.currentUser" id="main-container">

      <div id="instagram-accounts">

        <div class="head">
          <h4>Instagram accounts list</h4>
          <button v-on:click="">Add account</button> 
        </div>

        <div class="list">

          <div v-if="!accounts.length">
            No Instagram accounts found 
          </div>

          <div class="card-small" v-if="accounts.length" v-for="account in accounts">
            <strong>{{ account.Label }}</strong>
            <p>{{ account.Username }}</p>
          </div>

        </div>

      </div>

      <div id="jobs">

        <div class="head">
          <h4>Jobs list</h4>
          <button v-on:click="">Refresh</button> 
        </div>
        
        <div class="list">

          <div v-if="!sharedState.jobs.length">
            No running jobs 
          </div>
          
          <div class="card-small" v-if="sharedState.jobs.length" v-for="job in sharedState.jobs">
            <h4>{{ job.label }}</h4>
          </div>

        </div>

      </div>

      <div id="settings">
        <form accept-charset="utf-8" v-on:submit.prevent="onSubmit">
          <v-tags-input element-id="tags" 
                v-model="Hashtags"></v-tags-input>
        </form>
      </div>

    </div>
    <script src="https://unpkg.com/vue"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.13/vue.min.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/@voerro/vue-tagsinput@2.0.2/dist/voerro-vue-tagsinput.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js" charset="utf-8"></script>

    <script charset="utf-8">
      Vue.config.devtools = true;
      var store = {
        state : {
          accessToken: '',
          instagramAccounts: [],
          jobs: [],
          settings: {},
          currentUser: null
        },

        setInstgramAccounts (value) { this.state.instagramAccounts = value },
        setJobs (value) { this.state.jobs = value },
        setSettings (value) { this.state.settings = value },
        setCurrentUser (value) { this.state.currentUser = value }
      }

      var loginContainer = new Vue({
        el: '#login-container',
        data: {
          privateState: {
            username: '',
            password: '',
            error: null
          }
        },
        methods: {
          authenticate: async () => {
            var tokenResponse = await axios.post('http://localhost:8080/auth', {
                username: loginContainer.privateState.username,
                password: loginContainer.privateState.password
            });

            var meResponse = await axios.get('http://localhost:8080/api/me', {
              headers: {
                Authorization: `Bearer ${tokenResponse.data.AccessToken}`
              }
            });
            
            var me = meResponse.data;

            store.setCurrentUser(me);
            console.log(me);
            instagramAccounts.accounts.push(...me.InstagramAccounts);
          }
        }
      });

      var instagramAccounts = new Vue({
        el: '#instagram-accounts',
        data: {
          accounts: []
        },
        updated: (value) => {
          console.log('update');
          console.log('accounts: ', this.accounts);
        }
      });

      var jobs = new Vue({
        el: '#jobs',
        data: {
          sharedState: store.state,
          privateState: {
            refreshing: false
          }
        },
      })
      
      var settings = new Vue({
        el: '#settings',
        data: {
          Hashtags: []
        },
        components: { "v-tags-input": VoerroTagsInput },
      })

    </script>

  </body>
</html>
