<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>InstaBot</title>

    <link rel="stylesheet" href="https://unpkg.com/buefy/dist/buefy.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css">
    <link rel="stylesheet" href="https://cdn.materialdesignicons.com/2.5.94/css/materialdesignicons.min.css">
  </head>
  <body>
    
    <div class="container columns">

      <div id="login-container" class="section column is-one-third">

        <h2 class="title is-4 is-spaced">Login</h4>

        <div v-if="privateState.error !== null" class="container">
          <b-message title="Danger" type="is-danger" aria-close-label="Close message" @close="privateState.error = null">
            Invalid credentials
          </b-message>
        </div>

        <form v-on:submit.prevent>
          <b-field label="Username">
            <b-input v-model="privateState.username"></b-input>
          </b-field>
          <b-field label="Password">
            <b-input type="password" v-model="privateState.password"></b-input>
          </b-field>
          <b-button v-if="!privateState.loggedIn" @click="authenticate">Sign In</b-button>
          <b-button v-if="privateState.loggedIn" @click="logout">Log Out</b-button>
          <b-loading :is-full-page="privateState.isFullPage" :active.sync="privateState.isLoading" :can-cancel="false"></b-loading>
        </form>

      </div>

      <div v-if="sharedState.enabled" id="settings" class="section columns column is-four-fifths">
        <div class="column is-two-thirds">

          <h2 class="title is-4 is-spaced">Bot settings</h2> 

          <form v-on:submit.prevent>
            <b-field label="Instagram account">
              <b-select v-model="privateState.selectedInstagramAccount">
                <option v-for="account in privateState.instagramAccounts" :value="account" :key="account.ID">
                  {{ account.Username }}
                </option>
              </b-select>
            </b-field>
            <b-field label="Hashtags">
              <b-taginput placeholder="Add a hashtag" v-model="privateState.settings.Hashtags"></b-taginput>
            </b-field>
            <b-field label="Comments">
              <b-taginput placeholder="Add a comment" v-model="privateState.settings.Comments"></b-taginput>
            </b-field>
            <!-- <b-field label="Potency mode"> -->
            <!--   <b-select v-model="privateState.settings.Potency"> -->
            <!--     <option value="positive">Positive</option> -->
            <!--     <option value="negative">Negative</option> -->
            <!--   </b-select> -->
            <!-- </b-field> -->
            <b-field label="Total likes">
              <b-numberinput controls-position="compact" v-model="privateState.settings.TotalLikes"></b-numberinput>
            </b-field>
            <b-field label="Likes per user">
              <b-numberinput controls-position="compact" v-model="privateState.settings.PerUser"></b-numberinput>
            </b-field>
            <b-field label="Minimum followers">
              <b-numberinput controls-position="compact" v-model="privateState.settings.MinFollowers"></b-numberinput>
            </b-field>
            <b-field label="Maximum followers">
              <b-numberinput controls-position="compact" v-model="privateState.settings.MaxFollowers"></b-numberinput>
            </b-field>
            <b-field label="Minimum following">
              <b-numberinput controls-position="compact" v-model="privateState.settings.MinFollowing"></b-numberinput>
            </b-field>
            <b-field label="Maximum following">
              <b-numberinput controls-position="compact" v-model="privateState.settings.MaxFollowing"></b-numberinput>
            </b-field>
            <b-button @click="saveSettings">Save settings</b-button> 
            <b-button :disabled="privateState.runningJobs.length >= 1" @click="runJob">Run BOT</b-button> 
          </form>

        </div>
        <div class="column">
          
          <div>
            
            <h2 class="title is-4 is-spaced">Running jobs</h2> 

            <div style="height: 300px">
              <p v-if="!privateState.runningJobs.length">No jobs currently running</p>     
              <div v-for="job in privateState.runningJobs" class="card">
                <header class="card-header">
                  <p class="card-header-title">{{ job.Label }}</p>
                </header> 
                <div class="card-content">
                  <div class="content">
                    <strong>Account:</strong> {{ job.Settings.Account.Username }} 
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div>
            
            <h2 class="title is-4 is-spaced">Jobs history</h2> 

            <div style="height: 300px">
              <p v-if="!privateState.finishedJobs.length">No jobs history</p>     
              <div v-for="job in privateState.finishedJobs" class="card">
                <header class="card-header">
                  <p class="card-header-title">{{ job.Label }}</p>
                </header> 
                <div class="card-content">
                  <div class="content">
                    <strong>Account:</strong> {{ job.Settings.Account.Username }} 
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div>
            <b-button @click="refreshTickets">Refresh</b-button> 
          </div>
        </div>
      </div>
        
    </div>
    <script src="https://unpkg.com/vue"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.13/vue.min.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/@voerro/vue-tagsinput@2.0.2/dist/voerro-vue-tagsinput.js"></script>
    <script src="https://unpkg.com/buefy/dist/buefy.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js" charset="utf-8"></script>

    <script charset="utf-8">
      Vue.config.devtools = true;
      var store = {
        state : {
          token: '',
          instagramAccounts: [],
          jobs: [],
          settings: {},
          currentUser: null
        },

        setToken (value) { this.state.token = value },
        setInstgramAccounts (value) { this.state.instagramAccounts = value },
        setJobs (value) { this.state.jobs = value },
        setSettings (value) { this.state.settings = value },
        setCurrentUser (value) { this.state.currentUser = value }
      }

      var loginContainer = new Vue({
        el: '#login-container',
        data: {
          privateState: {
            isLoading: false,
            isFullPage: true,
            username: '',
            password: '',
            loggedIn: false,
            error: null
          }
        },
        created: async () => {
          const token = await window.localStorage.getItem('token');
          
          if (!!token) {
            store.setToken(token);
            loginContainer.getMe();
          }
        },
        methods: {
          getMe: async () => {
            try {  
              var meResponse = await axios.get('http://localhost:8080/api/me', {
                headers: {
                  Authorization: `Bearer ${store.state.token}`
                }
              });
              
              var me = meResponse.data;

              store.setCurrentUser(me);
              loginContainer.privateState.loggedIn = true;
              settings.sharedState.enabled = true;
              settings.refreshTickets();
              settings.setSettings(me.Settings);
              settings.setInstgramAccounts(me.InstagramAccounts);
            } catch (err) {
              loginContainer.privateState.error = err;
            }
          },
          logout: async () => {
            await window.localStorage.removeItem('token');
            loginContainer.privateState.loggedIn = false;
            settings.sharedState.enabled = false;
          },
          authenticate: async () => {
            loginContainer.privateState.isLoading = true;

            try {
              var tokenResponse = await axios.post('http://localhost:8080/auth', {
                  username: loginContainer.privateState.username,
                  password: loginContainer.privateState.password
              });


              store.setToken(tokenResponse.data.AccessToken);
              await window.localStorage.setItem(`token`, tokenResponse.data.AccessToken);

              await loginContainer.getMe();
            } catch (err) {
              loginContainer.privateState.error = err;
            }

            loginContainer.privateState.isLoading = false;
          }
        }
      });

      var settings = new Vue({
        el: '#settings',
        methods: {
          setSettings: (newSettings) => {
            settings.privateState.settings = newSettings;
          },
          setInstgramAccounts: (accounts) => {
            settings.privateState.instagramAccounts = accounts;
            settings.privateState.selectedInstagramAccount = accounts[0];
          },
          refreshTickets: async () => {
            const ticketsResponse = await axios.get('http://localhost:8080/api/tickets', {
              headers: {
                Authorization: `Bearer ${store.state.token}`
              }
            });

            const tickets = ticketsResponse.data;

            settings.privateState.runningJobs = tickets.filter((t) => !t.Done);
            settings.privateState.finishedJobs = tickets.filter((t) => t.Done);
          },
          saveSettings: async () => {
            try {
              await axios.post('http://localhost:8080/api/settings', { Settings: settings.privateState.settings }, {
                headers: {
                  Authorization: `Bearer ${store.state.token}`
                }
              });
              Buefy.ToastProgrammatic.open({
                duration: 5000,
                message: 'Settings saved',
                type: 'is-success'
              })
            } catch (err) {
              Buefy.ToastProgrammatic.open({
                duration: 5000,
                message: `Could not save: ${err.response.data.error}`,
                type: 'is-danger'
              });
            }
          },
          runJob: async () => {
            try {
              runJobResponse = await axios.post('http://localhost:8080/api/jobs', {
                Label: "job",
                Settings: {
                  Account: settings.privateState.selectedInstagramAccount,
                  Settings: settings.privateState.settings
                }
              }, {
                headers: {
                  Authorization: `Bearer ${store.state.token}`
                }
              });
              await settings.refreshTickets();
            } catch (err) {
              Buefy.ToastProgrammatic.open({
                duration: 5000,
                message: `Could not run the bot: ${err.response.data.error}`,
                type: 'is-danger'
              });
            }
          }
        },
        data: {
          sharedState: {
            enabled: false
          },
          privateState: {
            settings: {
              Hashtags: [],
              Comments: [],
              TotalLikes: 0,
              PotencyMode: "negative",
              MaxFollowers: 0,
              MinFollowers: 0,
              MaxFollowing: 0,
              MinFollowing: 0
            },
            instagramAccounts: [],
            selectedInstagramAccount: null,
            runningJobs: [],
            finishedJobs: []
          }
        }
      })

    </script>

  </body>
</html>
